<template name="postEdit">
	<form class="main form page">
		<div class="form-group">
			<label class="control-label" for="title">Titre</label>
			<div class="controls">
				<input name="title" id="title" type="text" value="{{title}}" placeholder="Quelle est votre question ? Soyez précis." class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<div class="controls">
				<input name="question" id="question" type="text" value="{{question}}" placehol
				der="Name your post" class="form-control"/>
			</div>
		</div>
		<input type="submit" value="Valider" class="btn btn-primary submit"/>
		<hr/>
		<a class="btn btn-danger delete" href="#">Supprimer question</a>
	</form>
</template>